*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#111;
  color:white;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 10%;
  background:#1a1a1a;
}

.nav-links{
  display:flex;
  gap:20px;
  list-style:none;
}

.nav-links a{
  color:white;
  text-decoration:none;
}

.hero{
  height:90vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero h1{
  font-size:60px;
}

.hero h3{
  margin:10px 0;
}

.btn{
  margin-top:20px;
  padding:12px 25px;
  background:#00adb5;
  color:white;
  text-decoration:none;
  border-radius:5px;
}

section{
  padding:80px 10%;
}

.skills-container{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
}

.skill{
  background:#222;
  padding:15px 25px;
  border-radius:8px;
}

.project-card{
  background:#1f1f1f;
  padding:20px;
  margin-top:20px;
  border-radius:10px;
}

/* Responsive */

@media(max-width:768px){

  nav{
    flex-direction:column;
    gap:15px;
  }

  .hero h1{
    font-size:40px;
  }

  .nav-links{
    flex-wrap:wrap;
    justify-content:center;
  }
}